<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.fantingame.pay.dao.SmsBlackListDao">
    <select id="count" resultType="int">
        select count(*) c from sms_black_list;
    </select>
    <insert id="save">
      INSERT INTO sms_black_list(mobile,reason) 
      VALUES(#{mobile},#{reason})
    </insert>
    <select id="getEntity"  resultType="com.fantingame.pay.entity.SmsBlackList">
      SELECT * FROM sms_black_list
    </select>
    <select id="getEntityById" parameterType="Long" resultType="com.fantingame.pay.entity.SmsBlackList">
      SELECT * FROM sms_black_list WHERE id=#{id}
    </select>
    <select id="getEntityByMobile" parameterType="String" resultType="com.fantingame.pay.entity.SmsBlackList">
      SELECT * FROM sms_black_list WHERE mobile=#{mobile}
    </select>
    <delete id="delete" parameterType="String">
      DELETE FROM sms_black_list WHERE id=#{id}
    </delete>
    <update id="update" parameterType="com.fantingame.pay.entity.SmsBlackList">
      UPDATE sms_black_list
      SET mobile=#{mobile},reason=#{reason}
      WHERE id=#{id}
    </update>
</mapper>