<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- 作业调度 
    <bean id="crawlerUpdateJobBean" class="org.springframework.scheduling.quartz.JobDetailBean">
	   <property name="jobClass" value="com.fantingame.pay.job.CrawlerUpdateJob"/> 
	   <property name="jobDataAsMap">   
	       <map>   
	           <entry key="abc" value="123"/>
	       </map>   
	   </property>
	 </bean>
    -->	
    <!-- 
	<bean id="crawlerUpdateJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="crawlerUpdateJobBean" />
		</property>
		<property name="cronExpression">
			<value>0 0/5 * * * ?</value>
		</property>
	</bean>
    
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="crawlerUpdateJobTrigger" />
			</list>
		</property>
		<property name="quartzProperties"> 
           <map> 
             <entry key="org.quartz.threadPool.threadCount" value="1"/> 
           </map> 
        </property> 
	</bean>
    -->
</beans>